<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/locations.css">
    <title>Locations Index</title>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>

        <h1>All Available Locations</h1>
    <div class="wrapper">
        <ul>
            <% for (let i=0; i < locations.length; i++) { %>
                <li>
                    <div class="info">
                        <div class="name">
                            <a href="/locations/<%= locations[i]._id %>">
                                <%= locations[i].locationName %>
                            </a>
                        </div>

                        <div class="location">
                            <p>
                                <%= locations[i].locationAddress %>
                            </p>
                        </div>
                    </div>
                </li>
                <% } %>
        </ul>
        <div class="newItem">
            <a href="/locations/new">Add a New Location</a>
        </div>
    </div>
    
</body>

</html>