<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/new.css">
    <title>New Location</title>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>
        <h1>Add a new location</h1>

        <form method="POST" action="/locations">
            <div class="input-content-wrap">
                <div class="locationName">
                    <label for="locationName">Name of Location: </label>
                    <input type="text" id="locationName" name="locationName">
                    <br>
                </div>
                <div class="locationAddress">
                    <label for="locationAddress"> Address: </label>
                    <input type="text" id="locationAddress" name="locationAddress">
                    <br>
                </div>
                <!-- <label for="locationInventory"> Inventory: </label>
                    <input type="text" id="locationInventory" name="locationInventory">
                    <input type="number" min="0" name="itemQuantity" placeholder="0"> -->
                <br>
                <br>
                <input type="submit" value="Create New Location">
                <br>
                <br>
                <a href="/locations">See all Locations</a>
            </div>
        </form>
</body>

</html>