<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/new.css">
    <title>New Item</title>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>
        <h1>Add a New Item to the Invenory</h1>
        <form method="POST" action="/inventory">

            <br>
            <div class="input-content-wrap">
                <div class="inputbox">
                    <label for="owner">Name of Owner:</label>
                    <div class="input-box-content">
                        <input id="inventoryInp" type="text" name="itemOwner">
                    </div>
                    <br>
                </div>
                <div class="inputbox">
                    <label for="name">Name of Item:</label>
                    <div class="input-box-content">
                        <input id="inventoryInp" type="text" name="itemName">
                    </div>
                    <br>
                </div>
                <div class="inputbox">
                    <label for="quantity">Amount of Items:</label>
                    <div class="input-box-content">
                        <input id="inventoryInp" type="number" name="itemQuantity">
                    </div>
                    <br>
                </div>
                <div class="inputbox">
                    <label for="info">Info on Item:</label>
                    <div class="input-box-content">
                        <input id="inventoryInp" type="text" name="itemInfo">
                    </div>
                    <br>
                </div>
                <div class="input-box-content">
                    <label for="location">Location:</label>
                    <select name="itemLocation" id="location">
                        <% for (let i=0; i < location.length; i++) { %>
                            <option value="<%= location[i]._id %>">
                                <%= location[i].locationName %>
                            </option>
                            <% } %>
                    </select>
                </div>
                <br>
                <div class="inputdropdown">
                    <label for="destination">Destination of Items:</label>
                    <div class="input-box-content">
                        <input id="inventoryInp" type="text" name="itemDestination">
                    </div>
                    <br>
                </div>
                <div class="btns">
                    <input type="submit">
                </div>
                <br>
            </div>
        </form>
</body>

</html>