body {
    /* background-color: #3B373F; */
}

h1 {
  text-align: center;
  color: #7C6B58;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

a {
    color: #7C6B58;
    text-decoration: none;
}

.name-misc {
    flex-grow: 1;
    width: 3em;
    font-family: 'Vidaloka', serif;
    /* background-color:#121212; */
  }
  
.wrapper {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, 50%);
  margin-right:9px;
  margin-left:9px;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-right:13px;
  margin-left:13px;
  background-color:#272727;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  border-radius: 10px;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.6) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(107, 52, 52, 0.8) 0%,rgba(0,0,0,.9) 80%);
}
  
  .name-misc {
    /* background-color: black; */
    margin-left: 1em;;
    width: 33%;
    color: gray;
  }

  a:hover {
    color: gray;
  }
  
  .location {
    color: #7C6B58;
    /* background-color: blue; */
    width: 33%;
  }
  
  .quantityCounter {
    /* background-color: blueviolet; */
    color: #7C6B58;
    width: 33%;
  }

  .newItem {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-right:25px;
    margin-left:25px;
    background-color:#272727;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    border-radius: 10px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.434) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(107, 52, 52, 0.8) 0%,rgba(0,0,0,.9) 80%);
  }

  .quantityCounter {
    text-align: center
  }