body {
    margin: 0px;
    background-image: url(./background-3.jpeg);
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 5px;
}

nav a {
    color: #7B7B7C;
    text-decoration: none;
    margin-left: 5px;
}

nav a:hover {
    color: #7C6B58;
}